/* .storybook/style.css */

/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

* {
  font-feature-settings: 'cv05' 1;
}

html {
  /* Apply the imported font as the base font */
  font-family: 'Source Sans 3', sans-serif;
  height: 100%;
}

body {
  background-color: var(--ds-color-neutral-background-default);
}

.sbdocs-wrapper {
  padding-bottom: 10rem !important;
}

.docs-story {
  background-color: var(--ds-color-neutral-background-default);
}

.sbdocs-content code {
  display: inline;
  border: none;
  border-radius: var(--ds-border-radius-sm);
  background: var(--ds-color-neutral-background-tinted);
  color: var(--ds-color-neutral-text-default);
  font-size: 0.8em;
}